body {
    font: 62.5% "Trebuchet MS", sans-serif;
    margin: 5px, 50px, auto, 50px;
}

.header {
    width: 100%;
    height: 80px;
    background-color: aliceblue;
    display: flex;
}

.menu-container {
    margin-left: auto;
}

#basic-visualcue-menu {
    width: 150px;
}

.draggable {
    width: 65px;
    height: 25px;
    background-color:gold;
    margin: 5px auto auto 5px;
    border-radius: 6px;
    cursor: pointer;
}

.draggable:hover {
    box-shadow: 0px 0px 2px 2px orangered;
}

.draggable > span {
    display: inline-block;
    margin: 5px auto auto 5px;
}

.droppable {
    width: 90px;
    height: 75px;
    color: #fff;
    padding: 10px;
    margin: 15px;
}

.row1 {
    background-color: #aaa;
}
.row2 {
    background-color: #777;
}
.row3 {
    background-color: #333;
}

#draggable0 {
    background-color: moccasin;
    z-index: 10000;
}

#draggable1 {
    background-color: aquamarine;
    z-index: 10000;
}

#basic-dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#basic-dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

#basic-dialog > p {
    background-color: lightgray;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-container > div {
    width: 25%;
}

.trashcan-container {
    display: flex;
}

.trashcan-container .fa {
    margin: auto;
}

.pl-list-container {
    background-color: aliceblue; 
}

.pl-list-container ul {
    list-style: none;
    padding: 10px;
}

.pl-list-container ul li {
    width: 30%;
    margin: 8px auto auto auto;
    padding: 2px;
    border:1px solid #ffc826;
    border-radius: 3px;
    background-color: #ffd65e;
    background-image: linear-gradient(to bottom, #ffd65e, #febf04);
    cursor: pointer;
}

.dndx-insertbar {
    position: fixed;
    height: 2px;
    background-color: aqua;
}

.dndx-insertbar:before {
    content: "";
    position: absolute;
    left: -12px;
    top: -3px;
    width: 0;
    height: 0;
    border-left: 8px solid red;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.dndx-insertbar:after {
    content: "";
    position: absolute;
    left: calc(100% + 4px);
    top: -3px;
    width: 0;
    height: 0;
    border-right: 8px solid red;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

